.tseccion {
    text-align: center;
    font-weight: bolder;
    font-size: 32px;
    color: #425465;
}

#servicios {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: stretch
}

.servicio {
    margin: 10px;
    text-align: center;
    padding: 0 4rem;
    width: 200px;
}

.servicio img {
    max-width: 200px;
    width: 60%;

}

.servicio h3 {
    margin: 20px 0px;
    color: #425465;    font-weight: 400;
    font-weight: bolder;

    font-size: 19px;
}